version: '3.1'

services:
  nginx:
    image: nginx
    ports:
      - 8080:80
  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=63k4G&^EY5FWVRE1l8%h
    ports:
      - 5432:5432
